core-api-service/GretaFoodCore/.idea/.gitignore
core-api-service/GretaFoodCore/.idea/.idea.GretaFoodCore/riderModule.iml
core-api-service/GretaFoodCore/.idea/.idea.GretaFoodCore/.idea/.gitignore
core-api-service/GretaFoodCore/.idea/.idea.GretaFoodCore/.idea/indexLayout.xml
core-api-service/GretaFoodCore/.idea/.idea.GretaFoodCore/.idea/modules.xml
core-api-service/GretaFoodCore/.idea/.idea.GretaFoodCore/.idea/projectSettingsUpdater.xml
core-api-service/GretaFoodCore/.idea/.idea.GretaFoodCore/.idea/vcs.xml
core-api-service/GretaFoodCore/obj/project.packagespec.json
core-api-service/GretaFoodCore/obj/Debug/netcoreapp3.1/GretaFoodCore.Api.AssemblyInfo.cs
core-api-service/GretaFoodCore/obj/Debug/netcoreapp3.1/GretaFoodCore.Api.AssemblyInfoInputs.cache
core-api-service/GretaFoodCore/obj/Debug/netcoreapp3.1/GretaFoodCore.Api.csprojAssemblyReference.cache
core-api-service/GretaFoodCore/Properties/launchSettings.json
telegram-bot-service/GretaFoodBot/.idea/.gitignore
telegram-bot-service/GretaFoodBot/.idea/.idea.GretaFoodBot/riderModule.iml
telegram-bot-service/GretaFoodBot/.idea/.idea.GretaFoodBot/.idea/contentModel.xml
telegram-bot-service/GretaFoodBot/.idea/.idea.GretaFoodBot/.idea/indexLayout.xml
telegram-bot-service/GretaFoodBot/.idea/.idea.GretaFoodBot/.idea/modules.xml
telegram-bot-service/GretaFoodBot/.idea/.idea.GretaFoodBot/.idea/projectSettingsUpdater.xml
telegram-bot-service/GretaFoodBot/.idea/.idea.GretaFoodBot/.idea/vcs.xml
telegram-bot-service/GretaFoodBot/GretaFoodBot/bin/Debug/netcoreapp3.1/GretaFoodBot
telegram-bot-service/GretaFoodBot/GretaFoodBot/bin/Debug/netcoreapp3.1/GretaFoodBot.deps.json
telegram-bot-service/GretaFoodBot/GretaFoodBot/bin/Debug/netcoreapp3.1/GretaFoodBot.dll
telegram-bot-service/GretaFoodBot/GretaFoodBot/bin/Debug/netcoreapp3.1/GretaFoodBot.pdb
telegram-bot-service/GretaFoodBot/GretaFoodBot/bin/Debug/netcoreapp3.1/GretaFoodBot.runtimeconfig.dev.json
telegram-bot-service/GretaFoodBot/GretaFoodBot/bin/Debug/netcoreapp3.1/GretaFoodBot.runtimeconfig.json
telegram-bot-service/GretaFoodBot/GretaFoodBot/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
telegram-bot-service/GretaFoodBot/GretaFoodBot/bin/Debug/netcoreapp3.1/Telegram.Bot.dll
telegram-bot-service/GretaFoodBot/GretaFoodBot/bin/Debug/netcoreapp3.1/Telegram.Bot.Extensions.Polling.dll
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/GretaFoodBot.csproj.nuget.cache
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/GretaFoodBot.csproj.nuget.dgspec.json
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/GretaFoodBot.csproj.nuget.g.props
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/GretaFoodBot.csproj.nuget.g.targets
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/project.assets.json
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/project.packagespec.json
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/Debug/netcoreapp3.1/GretaFoodBot
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/Debug/netcoreapp3.1/GretaFoodBot.AssemblyInfo.cs
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/Debug/netcoreapp3.1/GretaFoodBot.AssemblyInfoInputs.cache
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/Debug/netcoreapp3.1/GretaFoodBot.assets.cache
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/Debug/netcoreapp3.1/GretaFoodBot.csproj.CopyComplete
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/Debug/netcoreapp3.1/GretaFoodBot.csproj.FileListAbsolute.txt
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/Debug/netcoreapp3.1/GretaFoodBot.csprojAssemblyReference.cache
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/Debug/netcoreapp3.1/GretaFoodBot.dll
telegram-bot-service/GretaFoodBot/GretaFoodBot/obj/Debug/netcoreapp3.1/GretaFoodBot.pdb
